$jaune: #ffb800;
$bleu: #003238;
$vert: #6eeb83;
$jaune2: #e4ff1a;

.button-container {
    button {
        background-color: $jaune2;
        color: $bleu;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 25px;
        font-size: 18px;
        font-weight: 700;
        border: 0;
        width: 20vh;
        margin: 6px;

        @media screen and (min-width: 900px) {
            height: 20vh;
        }
    }
}
