$jaune: #ffb800;
$bleu: #003238;
$vert: #6eeb83;
$jaune2: #e4ff1a;

.modal-container {
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(49, 49, 49, 0.8);

        .modal {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #f1f1f1;
            padding: 14px 28px;
            border-radius: 3px;
            width: 100vw;
            height: 50vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: $jaune;

            .modal-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                button {
                    background-color: $vert;
                    border-radius: 32px;
                }

                p {
                    font-size: 1.2em;
                    padding: 10px;
                }
            }
        }
    }
}
