$jaune: #ffb800;
$bleu: #003238;
$vert: #6eeb83;
$jaune2: #e4ff1a;

.modal-container {
    height: 1vh;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(49, 49, 49, 0.8);
        height: 120vh;

        .modal {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 14px 28px;
            border-radius: 3px;
            width: 80vw;
            background-color: $jaune;

            .modal-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                button {
                    background-color: $vert;
                    border-radius: 32px;
                }

                p {
                    padding: 10px;
                }
            }
        }
    }
}
