@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700);

$jaune: #ffb800;
$bleu: #003238;
$vert: #6eeb83;
$jaune2: #e4ff1a;

#Page404 {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;

    article {
        overflow: hidden;
        h1 {
            position: relative;
            text-align: center;
            font-size: 14em;
            margin: 0;

            img {
                width: 40vw;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            span {
                opacity: 0.1;
            }
        }
    }

    p {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        font-size: 3em;
        width: 100%;
        text-transform: uppercase;
        color: $bleu;
        opacity: 0.4;
        z-index: -50;
        margin: 0;
    }
}
