$jaune: #ffb800;
$bleu: #003238;
$vert: #6eeb83;
$jaune2: #e4ff1a;

#Start {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $vert;

    article {
        text-align: center;

        h1,
        h2 {
            font-size: 3em;
        }

        div {
            display: flex;
            justify-content: space-around;

            a {
                text-decoration: none;
            }

            button {
                height: 10vh;
                font-size: 2em;
            }
        }
    }
}
