// PAGES
@use "Home";
@use "About";
@use "Page404";

// COMPONENTS
@use "Button";
@use "Modal";
@use "ProgressBar";

body {
    margin: 0;
    box-sizing: border-box;
}

#root {
    section {
        width: 80%;
        margin: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    #root {
        section {
            width: 100%;
        }
    }
}
