$jaune: #ffb800;
$bleu: #003238;
$vert: #6eeb83;
$jaune2: #e4ff1a;

// PAGES
@use "Home";
@use "About";
@use "Page404";
@use "Start";
@use "Petite_maison";

// COMPONENTS
@use "Button";
@use "Modal";
@use "ProgressBar";
@use "Video";

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Mali";
    background-color: $vert;
}

#root {
    h1,
    h2 {
        font-family: "Patrick Hand", cursive;
    }

    section {
        width: 80%;
        margin: auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    #root {
        section {
            width: 100%;
        }
    }
}
